body {
    width: 600px;
    border : 30px solid gray;
    margin : 0 auto;
    padding: 0 20px 20px 20px;
    text-align: center;
}
h1 {
    background-color: skyblue;
    text-align: center;
}
h2 {
    background-color: skyblue;
    text-align: center;

}
p {
    color: black;
    text-align: center;
}